body {
  text-align: center;
  font-family: Mali, Verdana, sans-serif;
  background-color: #ffffff;
  color: #444444;
  margin: 0 auto;
}
.logotipo {
  width: 334px;
  height: 151px;
  margin-top: 85px;
}

#linha-horizontal {
  background-color: #9b0000;
  height: 5px;
  max-width: 100%;
  margin-top: 85px;
}

.menu ul {
  font-size: 20px;
  margin: 5px 0;
}

.menu ul li {
  display: inline-block;
  line-height: 2.5;
  margin: 0px 89px;
}

.menu ul li a {
  color: #444444;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.header-capa {
  background: url(img/background.png);
  background-size: cover;
  /* background-repeat: no-repeat;
  background-position: right top; 
  padding: 100px 0; */
  padding-top: 107px;
  /* background-color: #f5f5f5; */
  margin-top: 55px;
  padding-bottom: 50px;
}

.header-capa h1 {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
}

h1 {
  font-weight: 400;
  font-size: 45px;
}

p {
  font-weight: 300;
}

#line-header {
  position: relative;
  background-color: #9b0000;
  width: 450px;
  height: 2px;
  left: 0;
  right: 0;
  border: none;
  margin-top: 30px;
}

.text-header p {
  position: relative;
  display: inline-block;
  margin-top: 34px;
  max-width: 55%;
  font-size: 20px;
}

.ultimasPostagens {
  margin-bottom: 75px;
}

.ultimasPostagens h2 {
  margin-top: 65px;
  margin-bottom: 0;
  color: #444444;
  font-size: 30px;
  display: block;
  font-weight: 400;
}

#line-postagens {
  background-color: #9b0000;
  width: 66px;
  height: 4px;
  left: 0;
  right: 0;
  border: none;
  margin-top: 15px;
}

.ultimasPostagens h3 {
  font-weight: 400;
  margin-bottom: 0px;
  font-size: 23px;
  color: #444444;
}

.ultimasPostagens ul {
  display: flex;
  line-height: 1.3;
  margin-top: 55px;
  list-style: none;
  justify-content: center;
}

.ultimasPostagens ul li {
  margin: 0 50px;
}

.ultimasPostagens ul li img {
  /* width: 250px; */
  height: 250px;
}

.ultimasPostagens ul li p {
  max-width: 100%;
  margin-left: 15px;
  text-align: left;
  color: #444444;
  margin-top: 10px;
  font-weight: 300;
  font-size: 15px;
}

.fundo-1 {
  width: 700px;
  background-color: #fafafa;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 5px 5px rgb(0 0 0 / 3%);
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 3%;
}

.fundo-2 {
  width: 700px;
  background-color: #fafafa;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 5px 5px rgb(0 0 0 / 3%);
  margin-right: 20px;
  border-radius: 3%;
}

.fundo-3 {
  width: 700px;
  background-color: #fafafa;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 5px 5px rgb(0 0 0 / 3%);
  margin-right: 70px;
  border-radius: 3%;
}

.background-rosa {
  background: url(img/fundo-rosa.svg);
  padding: 65px 0;
}

h3 {
  font-size: 30px;
  font-weight: 400;
}

#separador-tempo {
  position: absolute;
  background-color: #9b0000;
  width: 66px;
  height: 4px;
  left: 0;
  right: 0;
  border: none;
  margin-top: 15px;
  margin-bottom: 0;
}

.linha-do-tempo {
  margin-top: 80px;
  margin-bottom: 65px;
}

.contato {
  padding: 65px;
}

h4 {
  font-size: 30px;
  max-width: 70%;
  font-weight: 400;
}

.contato h4 {
  display: inline-block;
  margin-bottom: 0;
}

#separador-contato {
  position: absolute;
  background-color: #9b0000;
  width: 66px;
  height: 4px;
  left: 0;
  right: 0;
  border: none;
  margin-top: 15px;
  margin-bottom: 0;
}

form {
  max-width: 600px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 56px;
}

#nome {
  font-family: Mali, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 400;
  max-width: 100%;
  width: 100%;
  height: 30px;
}

.nome {
  margin-bottom: 15px;
}

#email {
  font-family: Mali, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 400;
  max-width: 100%;
  width: 100%;
  height: 30px;
}

.email {
  margin-bottom: 15px;
}

#tel {
  font-family: Mali, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 400;
  max-width: 100%;
  width: 100%;
  height: 30px;
}

.tel {
  margin-bottom: 15px;
}

#local {
  max-width: 50%;
  font-size: 14px;
  font-weight: 400;
  border-color: #444444;
  padding: 3px;
  height: 40px;
  width: 10%;
}

.local {
  margin-bottom: 15px;
}

#mensagem {
  font-family: Mali, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 400;
  max-width: 100%;
  width: 100%;
}

.mensagem {
  margin-bottom: 15px;
}

button {
  max-width: 20%;
  font-family: Mali, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 400;
  background: #00fa7d;
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 10px 30px;
}

li:hover {
  text-decoration: underline;
  color: #444444;
}

footer {
  background: url(img/footer.svg);
  max-width: 100%;
  height: 46px;
}

footer p {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  margin-top: 0;
  padding: 13px;
}

footer p a {
  color: #eeebdd;
}

a:hover {
  text-decoration: underline;
}

/* Pagina Infancia */

.infancia {
  background: url(img/fundo-infancia.svg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  margin-top: 65px;
}

.infancia h1 {
  margin: 0;
  padding-top: 79px;
}

.infancia p {
  font-size: larger;
  max-width: 60%;
  margin: 25px auto;
  text-align: left;
  line-height: 1.5;
  font-weight: 400;
}

.text-infancia {
  padding-bottom: 55px;
}

#separador-infancia {
  background-color: #9b0000;
  width: 66px;
  height: 4px;
  border: none;
  margin-top: 15px;
  margin-bottom: 55px;
}

#comentario {
  font-family: Mali, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 400;
  max-width: 100%;
  width: 60%;
}

.comentario-infancia {
  margin-top: 65px;
}

.comentario-infancia h2 {
  text-align: left;
  width: 60%;
  margin: 0 auto;
}

/* Página Juventude */

.juventude {
  background: url(img/fundo-juventude.svg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  margin-top: 65px;
}

.juventude h1 {
  margin: 0;
  padding-top: 79px;
}

.juventude p {
  font-size: larger;
  max-width: 60%;
  margin: 25px auto;
  text-align: left;
  line-height: 1.5;
  font-weight: 400;
}

.text-juventude {
  padding-bottom: 55px;
}

#separador-juventude {
  background-color: #9b0000;
  width: 66px;
  height: 4px;
  border: none;
  margin-top: 15px;
  margin-bottom: 55px;
}

#comentario {
  font-family: Mali, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 400;
  max-width: 100%;
  width: 60%;
}

.comentario-juventude {
  margin-top: 65px;
}

.comentario-juventude h2 {
  text-align: left;
  width: 60%;
  margin: 0 auto;
}

/* Página Vida Adulta */

.vidaAdulta {
  background: url(img/fundo-vidaadulta.svg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  margin-top: 65px;
  padding-top: 55px;
}

.vidaAdulta h1 {
  margin-top: 0;
  margin-bottom: 0;
}

#separador-vidaAdulta {
  background-color: #9b0000;
  width: 66px;
  height: 4px;
  border: none;
  margin-top: 15px;
  margin-bottom: 55px;
}

.vidaAdulta ul {
  display: inline;
}

.vidaAdulta img {
  /* width: 300px; */
  height: 300px;
  left: 0;
  right: 0;
}

.vidaAdulta h3 {
  margin-left: 0;
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 25px;
}

.vidaAdulta p {
  margin-left: 30px;
  margin-top: 10px;
  text-align: left;
  width: 500px;
}

.conteudo {
  display: table;
}

.imagem {
  display: table-cell;
  float: left;
}

.titulo {
  color: #444444;
  display: table-cell;
  float: left;
  width: 320px;
}

.texto {
  color: #444444;
  display: table-cell;
  float: left;
  width: 320px;
}

#bloco-1 {
  padding-right: 50%;
  margin: 55px 0px 55px 100px;
  list-style: none;
}

#bloco-2 {
  padding-right: 50%;
  margin: 55px 0px 55px 175px;
  list-style: none;
}

#bloco-3 {
  padding-right: 50%;
  margin: 55px 0px 55px 100px;
  list-style: none;
  padding-bottom: 100px;
}

#disqus_thread {
  width: 60% !important;
  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 55px;
}

#community-tab {
  display: none !important;
}

/* Pagina Postagem 1-2-3 */

.postagens {
  background: url(img/fundo-rosa.svg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  margin-top: 65px;
}

.postagens h1 {
  margin: 0;
  padding-top: 79px;
}

.postagens p {
  font-size: larger;
  max-width: 60%;
  margin: 25px auto;
  text-align: left;
  line-height: 1.5;
  font-weight: 400;
}

.text-postagens {
  padding-bottom: 55px;
}

#separador-postagens {
  background-color: #9b0000;
  width: 66px;
  height: 4px;
  border: none;
  margin-top: 15px;
  margin-bottom: 55px;
}

#comentario {
  font-family: Mali, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 400;
  max-width: 100%;
  width: 60%;
}

.comentario-postagens {
  margin-top: 65px;
}

.comentario-postagens h2 {
  text-align: left;
  width: 60%;
  margin: 0 auto;
}

/* Pagina Atualidade */

.atualidade {
  background: url(img/fundo-rosa.svg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  margin-top: 65px;
  padding-top: 55px;
}

.atualidade h1 {
  margin-top: 0;
  margin-bottom: 0;
}

#separador-atualidade {
  background-color: #9b0000;
  width: 66px;
  height: 4px;
  border: none;
  margin-top: 15px;
  margin-bottom: 55px;
}

.atualidade ul {
  display: inline;
}

.atualidade img {
  /* width: 300px; */
  height: 300px;
  left: 0;
  right: 0;
}

.atualidade h3 {
  margin-left: 0;
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 25px;
}

.atualidade p {
  margin-left: 30px;
  margin-top: 10px;
  text-align: left;
  width: 500px;
}

.conteudo {
  display: table;
}

.imagem {
  display: table-cell;
  float: left;
}

.titulo {
  color: #444444;
  display: table-cell;
  float: left;
  width: 320px;
}

.texto {
  color: #444444;
  display: table-cell;
  float: left;
  width: 320px;
}

#bloco-1 {
  padding-right: 50%;
  margin: 25px 0px 55px 100px;
  list-style: none;
  padding-bottom: 55px;
}

/* Pagina ano2022 */

.postagem {
  background: url(img/fundo-rosa.svg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  margin-top: 65px;
  padding-top: 55px;
}

.postagem h1 {
  margin-top: 0;
  margin-bottom: 0;
}

#separador-postagem {
  background-color: #9b0000;
  width: 66px;
  height: 4px;
  border: none;
  margin-top: 15px;
  margin-bottom: 55px;
}

.postagem ul {
  display: inline;
}

.conteudo {
  display: table;
}

.titulo {
  color: #444444;
  display: table-cell;
  float: left;
  width: 320px;
}

.texto {
  color: #444444;
  display: table-cell;
  float: left;
  width: 320px;
}

#bloco-1 {
  padding-right: 50%;
  margin: 55px 0px 55px 100px;
  list-style: none;
}

.postagem ul {
  display: flex;
  line-height: 1.3;
  margin-top: 55px;
  list-style: none;
  justify-content: center;
}

.postagem ul li {
  margin: 0 50px;
}

.ul-1 {
  padding-top: 55px;
}

.ul-2 {
  padding-bottom: 110px;
}

.janeiro {
  width: 165px;
  height: 130px;
  background-color: #fbe5d4;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 5px 5px rgb(0 0 0 / 3%);
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 3%;
}

.janeiro h3 {
  color: #444444;
  margin-left: -12px;
  margin-top: 45px;
  margin-bottom: 0;
  font-size: 25px;
}

.fevereiro {
  width: 165px;
  height: 130px;
  background-color: #fcdbed;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 5px 5px rgb(0 0 0 / 3%);
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 3%;
}

.fevereiro h3 {
  color: #444444;
  margin-left: -27px;
  margin-top: 45px;
  margin-bottom: 0;
  font-size: 25px;
}

.março {
  width: 165px;
  height: 130px;
  background-color: #c6ebf9;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 5px 5px rgb(0 0 0 / 3%);
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 3%;
}

.março h3 {
  color: #444444;
  margin-left: -5px;
  margin-top: 45px;
  margin-bottom: 0;
  font-size: 25px;
}

.abril {
  width: 165px;
  height: 130px;
  background-color: #fcf2cc;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 5px 5px rgb(0 0 0 / 3%);
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 3%;
}

.abril h3 {
  color: #444444;
  margin-left: 5px;
  margin-top: 45px;
  margin-bottom: 0;
  font-size: 25px;
}

.maio {
  width: 165px;
  height: 130px;
  background-color: #e7dbef;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 5px 5px rgb(0 0 0 / 3%);
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 3%;
}

.maio h3 {
  color: #444444;
  margin-left: 2px;
  margin-top: 45px;
  margin-bottom: 0;
  font-size: 25px;
}

.junho {
  width: 165px;
  height: 130px;
  background-color: #e7fcc8;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 5px 5px rgb(0 0 0 / 3%);
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 3%;
}

.junho h3 {
  color: #444444;
  margin-left: 0px;
  margin-top: 45px;
  margin-bottom: 0;
  font-size: 25px;
}

.julho {
  width: 165px;
  height: 130px;
  background-color: #e8dcef;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 5px 5px rgb(0 0 0 / 3%);
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 3%;
}

.julho h3 {
  color: #444444;
  margin-left: 0px;
  margin-top: 45px;
  margin-bottom: 0;
  font-size: 25px;
}

.agosto {
  width: 165px;
  height: 130px;
  background-color: #fcfdc5;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 5px 5px rgb(0 0 0 / 3%);
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 3%;
}

.agosto h3 {
  color: #444444;
  margin-left: -10px;
  margin-top: 45px;
  margin-bottom: 0;
  font-size: 25px;
}

.setembro {
  width: 165px;
  height: 130px;
  background-color: #cbdff2;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 5px 5px rgb(0 0 0 / 3%);
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 3%;
}

.setembro h3 {
  color: #444444;
  margin-left: -26px;
  margin-top: 45px;
  margin-bottom: 0;
  font-size: 25px;
}

.outubro {
  width: 165px;
  height: 130px;
  background-color: #f3dcf1;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 5px 5px rgb(0 0 0 / 3%);
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 3%;
}

.outubro h3 {
  color: #444444;
  margin-left: -20px;
  margin-top: 45px;
  margin-bottom: 0;
  font-size: 25px;
}

.novembro {
  width: 165px;
  height: 130px;
  background-color: #c4f0e9;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 5px 5px rgb(0 0 0 / 3%);
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 3%;
}

.novembro h3 {
  color: #444444;
  margin-left: -29px;
  margin-top: 45px;
  margin-bottom: 0;
  font-size: 25px;
}

.dezembro {
  width: 165px;
  height: 130px;
  background-color: #fad2d4;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 5px 5px rgb(0 0 0 / 3%);
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 3%;
}

.dezembro h3 {
  color: #444444;
  margin-left: -29px;
  margin-top: 45px;
  margin-bottom: 0;
  font-size: 25px;
}

footer {
  background: url(img/footer.svg);
  max-width: 100%;
  height: 46px;
  margin-top: 55px;
}

#disqus_thread {
  width: 60% !important;
  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 55px;
}

#community-tab {
  display: none !important;
}

/* media query */
@media screen and (max-width: 600px) {
  body {
    background-color: #f5f5f5;
  }
}

@media screen and (max-width: 990px) {
  .text-header {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
  }
  .header-capa section h1.bem-vindo {
    display: none;
  }
}

@media screen and (min-width: 991px) {
  .text-header h1 {
    display: none;
  }
}
